// Social
.socialIcons {
  .v-icon {
    font-size: 17px !important;
  }

  .mdi-facebook {
    color: #3b5998 !important;
  }

  .mdi-twitter {
    color: #00acee !important;
  }

  .mdi-google-plus {
    color: #dd4b39 !important;
  }

  .mdi-linkedin {
    color: #0e76a8 !important;
  }
}