/* toolbar */
.theme--dark.v-sheet {
    width: 100%;
    background-color: #316AB4;
    border-color: #316AB4;
}

.pro-drop img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.theme--light.v-navigation-drawer {
    padding-top: 65px !important;
}

.v-toolbar {
    position: fixed !important;
    z-index: 999;
}

/* v content */
.con-main {
    padding-top: 85px !important;
}

/* utility classes */
/* width */
.full-width {
    width: 100%;
}

/* form */
.inline-checkbox {
    display: inline-flex !important;
    margin-top: 0 !important;
}

.inline-checkbox .v-input__slot {
    margin-bottom: 0 !important;
    top: 8px;
}

/* data table */
.v-data-table__wrapper tbody tr>td:last-child {
    white-space: nowrap;
}

/* Veera*/
.v-application a {
    color: #E60013;
}
.v-application .primary--text {
    color: #E60013 !important;
    caret-color: #E60013 !important;
}

.v-application .primary {
background-color: #E60013 !important;
border-color: #E60013 !important;
}

.theme--dark.v-sheet {

    background-color: #E60013;
    border-color: #E60013;
}