<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Welcome to Japan Macro Advisors</title>
</head>
<style type="text/css">
@media only screen and (max-width: 767px){
	.full-width{
		display:block !important;
		width:100% !important;
	}
}
</style>
<body>
	<div style="">
		<table border="0" class="full-width" cellpadding="0" cellspacing="0" width="690" style="font-size:14px; margin:auto;background:#efefef;font-family:\'Arial\', Helvetica, sans-serif;">
			<!-- header -->
			<tr>
				<td align="center" valign="top">
					<img alt="Japan GDP Economy" src="http://japanmacroadvisors.com/images/logo.png" style="padding:20px 0 15px;">
				</td>
			</tr>
			<tr>
				<td align="center" valign="top" style="background:#e60013; color: #ffffff;font-size: 19px; padding: 10px 0;">
					Unbiased Openion on Japan\'s Economy
				</td>
			</tr>
			<tr>
				<td align="center" valign="top">
					<div style="background-image:url(\'banner.jpg\');color: #ffffff; padding: 59px 45px; background-size: cover; background-repeat: no-repeat;text-shadow: 1px 2px 3px #000000;background-position: center bottom;">
						<h1 style="font-weight: normal; ">Welcome to Japan Macro Advisors</h1>
					</div>
				</td>
			</tr>
			<!-- body -->
			<tr>
				<td align="center" valign="top">
					<table align="left" border="0" cellpadding="30" cellspacing="0" width="100%" class="templateColumnContainer">
						<tr>
							<td>
								<h4>Dear {{name}},</h4>
								<p style="font-size:15px;line-height:1.35; letter-spacing: 1px;">Thank you for choosing Japan Macro Advisors. Your Premium subscription with the email address {{email}} has been successful and your Premium account is now active. Your monthly subscription fee is.</p>
							</td>
						</tr>
						<tr>
							   <td valign="top" style="padding: 0;">
									<table align="center" border="1" cellpadding="5" cellspacing="0" width="483px" class="full-width" style="font-size:14px;margin-bottom:30px;">
									 <tr>
									  <th align="left" valign="top">
									   Amount: 
									  </th>
									  <td align="left" valign="top">
									   JPY 3500
									  </td>
									 </tr>
									</table>
							   </td>
					   </tr>
						<tr>
							<td style="padding-top:10px;padding-bottom:10px;">
								<p style="font-size:15px;line-height:1.35; letter-spacing: 1px;">Your monthly subscription will auto-renew every month.</p>
								<p style="font-size:15px;line-height:1.35; letter-spacing: 1px;">For any assistance, contact our <a href="">Helpdesk</a> or <a href="">Support</a></p>
							</td>
						</tr>
						<tr>
							<td align="left" valign="top" style="padding-bottom: 25px; padding-top: 20px;">
								<h4>Thank you for choosing Japan Macro Advisors.</h4>
								<p style="font-size:15px;line-height:1.35; letter-spacing: 1px;">
									Thank you,
									<br>Japan Macro Advisors
									<br><a style="font-size:14px;" href="http://japanmacroadvisors.com/">www.japanmacroadvisors.com</a>
								</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<!-- footer -->
			<tr>
				<td align="center" valign="top" style="padding:20px;background:#dddddd;">
					<a href="" style="display: inline-block; width: 40px; height: 40px; background: #282828; border-radius: 50%;    margin-right: 9px;">
						<img src="twitter.png" alt="twitter" style="width: 31px; background: #282828; border-radius: 50%; padding-top: 5px;">
					</a>
					<a href="" style="display: inline-block; width: 40px; height: 40px; background: #282828; border-radius: 50%;    margin-right: 9px;">
						<img src="facebook.png" alt="facebook" style="width: 31px; background: #282828; border-radius: 50%; padding-top: 5px;">
					</a>
					<a href="" style="display: inline-block; width: 40px; height: 40px; background: #282828; border-radius: 50%;    margin-right: 9px;">
						<img src="linkedin.png" alt="linkedin" style="width: 31px; background: #282828; border-radius: 50%; padding-top: 5px;">
					</a>
				</td>
			</tr>
			<tr>
				<td align="center" valign="top" style="background: #e60013; color: #ffffff; padding: 10px; font-size: 13px; ">
					© 2017 All Rights Reserved. Japan Macro Advisors
				</td>
			</tr>
		</table>
	</div>
</body>
</html>