<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Welcome to Japan Macro Advisors</title>
</head>
<style type="text/css">
@media only screen and (max-width: 767px){
	.full-width{
		display:block !important;
		width:100% !important;
	}
}
</style>
<body>
	<div style="">
		<table bgcolor="#efefef" border="0" class="full-width" cellpadding="0" cellspacing="0" width="690" style="font-size:14px; margin:auto;font-family:\'Arial\', Helvetica, sans-serif;">
			<tr>
				<td align="center" valign="top">
					<img alt="Japan GDP Economy" src="http://japanmacroadvisors.com/images/logo.png" style="padding:20px 0 15px;">
				</td>
			</tr>
			<tr>
				<td align="center" valign="top" style="background:#e60013; color: #ffffff;font-size: 19px; padding: 10px 0;">
					Unbiased Opinion on Japan\'s Economy
				</td>
			</tr>
			<tr>
				<td align="center" valign="top">
					<div style="background-image:url(\'banner.jpg\');color: #ffffff; padding: 59px 45px; background-size: cover; background-repeat: no-repeat;text-shadow: 1px 2px 3px #000000;background-position: center bottom;">
						<h1 style="font-weight: normal; ">Welcome to Japan Macro Advisors</h1>
					</div>
				</td>
			</tr>
			<tr>
				<td align="center" valign="top">
					<table align="left" border="0" cellpadding="30" cellspacing="0" width="100%" class="templateColumnContainer">
						<tr>
							<td>
								<h4>Dear {{name}},</h4>
								<p style="font-size:15px;line-height:1.35; letter-spacing: 1px;">Thank you for signing up with Japan Macro Advisors. We hope you like our services. If you have requested information for our Corporate account, we will get back to you shortly. Following are your account related details.</p>
							</td>
						</tr>						
						<tr>
							<td valign="top" style="padding-top: 0;padding-bottom: 0;">
								<h4>Account Information:</h4>
							</td>
						</tr>
						<tr>
							<td valign="top" style="padding: 0;">
								<table align="center" border="1" cellpadding="5" cellspacing="0" width="70%" class="full-width" style="font-size:14px;margin-bottom:30px;">
									<tr>
										<th align="left" valign="top">
											Account type :
										</th>
										<td align="left" valign="top">
											{{accountType}}
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td valign="top" style="padding-top: 0;">
								<p>You can log-in to our website with your Linkedin account or using credentials given below</p>
							</td>
						</tr>
						<tr>
							<td valign="top" style="padding: 0;">
								<table align="center" border="1" cellpadding="5" cellspacing="0" width="70%" class="full-width" style="font-size:14px;margin-bottom:30px;">
									<tr>
										<th align="left" valign="top">
											Username :
										</th>
										<td align="left" valign="top">
											{{username}}
										</td>
									</tr>
									<tr>
										<th align="left" valign="top">
											Password :
										</th>
										<td align="left" valign="top">
											{{password}}
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td style="padding-top:10px;padding-bottom:10px;">
								<p style="font-size:15px;margin:0;line-height:1.35; letter-spacing: 1px;">We will be sending email alerts when we publish reports and comments on selected events and indicator releases, such as BoJ meetings, GDP data, etc. It will be at most 10-15 emails per month. You can change your preference at your profile page <a href="#">here</a>.</p>
							</td>
						</tr>
						<tr>
							<td align="left" valign="top" style="padding-bottom: 25px;">
								<h3>With an account with us, you can...</h3>
								<h4 style="margin-bottom:10px;font-size: 18px;color: #26ade4;">Enjoy the easiest access to macroeconomic data on Japan</h4>
								<p style="margin:0;font-size:15px;line-height:1.35; letter-spacing: 1px;"><span style="font-weight: bold; text-decoration: underline;">Data should be more than just numbers.</span> Our interactive charts give you an easy and intuitive understanding of the past, present and hopefully the future of the Japanese economy. </p>
								<h4 style="margin-bottom:10px;font-size: 18px;color: #26ade4;">Produce your own chart book</h4>
								<p style="margin:0;font-size:15px;line-height:1.35; letter-spacing: 1px;">
									You can save the charts you created into "My Charts", a new function we recently added. <span style="font-weight: bold; text-decoration: underline;">Charts and tables can be exported into PowerPoint slides with just one click.</span> Updating your charts is easy, as we constantly update our data to the latest data point.
								</p>
								<h4 style="margin-bottom:10px;font-size: 18px;color: #26ade4;">Read our analysis on the Japanese Economy</h4>
								<p style="margin:0;font-size:15px;line-height:1.35; letter-spacing: 1px;"><span style="font-weight: bold; text-decoration: underline;">Without an analysis, data are meaningless.</span> You may not agree with our opinions, but we hope our analysis could help you generate your own views on the Japanese economy.</p>
								<p style="font-size:15px;line-height:1.35; letter-spacing: 1px;">Premium contents require Corporate accounts or Premium accounts. If you are interested in upgrading your account, please click <a href="https://www.japanmacroadvisors.com/products">here</a>.</p>
								<p style="font-size:15px;line-height:1.35; letter-spacing: 1px;">If you encounter any problems with our services, please contact us at <a href="mailto:info@japanmacroadvisors.com">support@japanmacroadvisors.com</a>.</p>
								<h4 style="margin-bottom: 0;text-align:center;margin-top:35px;">Thank you for being our subscriber!</h4>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td align="center" valign="top" style="padding:20px;background:#dddddd;">
					<a href="" style="display: inline-block; width: 40px; height: 40px; background: #282828; border-radius: 50%;    margin-right: 9px;">
						<img src="twitter.png" alt="twitter" style="width: 31px; background: #282828; border-radius: 50%; padding-top: 5px;">
					</a>
					<a href="" style="display: inline-block; width: 40px; height: 40px; background: #282828; border-radius: 50%;    margin-right: 9px;">
						<img src="facebook.png" alt="facebook" style="width: 31px; background: #282828; border-radius: 50%; padding-top: 5px;">
					</a>
					<a href="" style="display: inline-block; width: 40px; height: 40px; background: #282828; border-radius: 50%;    margin-right: 9px;">
						<img src="linkedin.png" alt="linkedin" style="width: 31px; background: #282828; border-radius: 50%; padding-top: 5px;">
					</a>
				</td>
			</tr>
			<tr>
				<td align="center" valign="top" style="background: #e60013; color: #ffffff; padding: 10px; font-size: 13px; ">
					© 2016 All Rights Reserved. Japan Macro Advisors
				</td>
			</tr>
		</table>
	</div>
</body>
</html>